extends layout

block content
  h1 AJAX Countries

  p
    button#load-countries-btn Load Countries AJAX
  
  p#countries-from-server
  
  //- p
  //-   form(action="load-countries-form" method="post")
  //-     input(type="submit" value="Load Countries Form")
  
  